.carousel-indicators [data-bs-target]{
    width: 8px !important;
    height: 8px !important;
    border-radius: 100%;

}
.carrito{
    width: 25px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-button {
    position: fixed;
    bottom: 685px; /* Ajusta la posición vertical según tus necesidades */
    right: 10px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}


.navbar-toggler {
    margin-right: 110px ;
    padding: 0px 70px 0px 70px !important;
    background-color: white !important;
}

.btn-iniciar-sesion{
    margin: 10px 20px 0px 140px;
}

.nav-icon{
    margin-left: 200px important;
}

.scrollspy-example {
    max-height: 150px; /* Establece la altura máxima */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical cuando sea necesario */
    border: 1px solid #ccc; /* Añade un borde para claridad */
}

.animacion{
    display: block;
}

@media (min-width: 520px) {
    .fixed-button {
        bottom: 675px;
        right: 20px;
    }
    .btn-iniciar-sesion{
        margin: 0px 200px 0px 0px;
    }
    .nav-icon{
        margin-left: 200px;
        margin-right: 50px;
    }
    .scrollspy-example {
        max-height: 500px !important; /* Establece la altura máxima */
        overflow-y: auto; /* Añade una barra de desplazamiento vertical cuando sea necesario */
        border: 1px solid #ccc; /* Añade un borde para claridad */
    }

    
    .animacion{
    display: none;
}
}

footer{
    background-color: black;
    color: white;
}

.cont-foot{
    padding: 30px;
}

.bg-body-custom {
    --bs-bg-opacity: 1;
    background-color: rgb(0 0 0) !important;
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.social-media-icon{
    width: 30px;
    margin: 0px 10px 0px 10px;
}

.btn-buscar{
    margin-right: 20px;
}

.product{
    margin: 20px;
}

.bg-div-b{
    background-color: black;
}

.bg-div-w{
    background-color: rgb(255, 255, 255);
}

.btn-primary{
    background-color: rgb(185, 47, 26) !important;
    border: black !important;
}

.btn-outline-success{
    color: white !important;
    border: white 2px solid!important;
}

.btn:hover {
    color: black !important;
    background-color: rgb(255, 234, 0) !important;
    border-color: black !important;
}

.nav{
    border: 10px white solid;
}

.card-t-w{
    color: white;
}

.dropdown-btn{
    border-radius: 0px !important;
    background-color: black !important;
}

.dropdown-menu{
    width: 100%;
    color: white;
    border-radius: 0px !important;
    background-color: black !important;
}

.dropdown-item:hover{
    color: black;
}

.card-ball{
    height: 400px !important;
}

@media (min-width:520px) and (max-width:768.5px){
    .card-ball{
        margin-top: 100px;
        margin-bottom: 100px
    }
}
