
<!-- inicio.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Camisas{% endblock %}

{% block content %}
<!--CONTAINER--> <!--CARDS-->
<div class="bg-div-g">
    <div class="container text-center" style="padding-bottom: 100px;">
        <h1 style="padding: 50px;">¿Quienes Somos?</h1>
        <div class="row">
            <div class="col-sm center">

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="1500">
                                        <img src="{% static 'img/productos/camisas/quienes_banner.png' %}" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="1500">
                                        <img src="{% static 'img/productos/camisas/accs_banner.png' %}" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="1500">
                                        <img src="{% static 'img/productos/camisas/camisa_banner.png' %}" class="d-block w-100"
                                            alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body ">
                                <p class="card-text ">En nuestra página web, somos más que una tienda de baloncesto,
                                    somos una comunidad apasionada por el juego. Fundada por jugadores para
                                    jugadores, estamos comprometidos a proporcionar productos de calidad, consejos
                                    expertos y contenido inspirador para que puedas vivir y respirar baloncesto. Ya
                                    seas un novato emocionado por dar sus primeros pasos en la cancha o un veterano
                                    buscando mejorar tu juego, estamos aquí para apoyarte en cada paso del camino.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}